<div class="modal fade shadow" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered border-0 " role="document">
    <div class="modal-content border-0">
      <div class="modal-header border-0">
        <h5 class="modal-title" id="exampleModalLabel">Ajuda</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <strong class="d-block">Criando modelo e padrão de campos</strong>
        <a href="#" @click="openBrowserLink('https://www.youtube.com/watch?v=o5w640KhWFM')">Tutorial 1</a>
        <strong class="d-block">Criando modelo do zero</strong>
        <a href="#" @click="openBrowserLink('https://www.youtube.com/watch?v=M5GApvqvuUA')">Tutorial 2</a>
        <strong class="d-block">Importando modelo</strong>
        <a href="#" @click="openBrowserLink('https://www.youtube.com/watch?v=ylyxtr9n_Rk')">Tutorial 3</a>
        <br /><br />
        
        <a href="#"@click="openBrowserLink('https://t.me/joinchat/F9sfUg5ePQczpnvrD7brHA')" >
          <img src="assets/img/telegram.png" />
        </a> <br />
        Grupo Gerador de petições
      </div>
    </div>
  </div>
</div>

<script>

</script>