<div class="float-right p-3">
  <button type="button" class="btn btn-sm" @click="fixModelToggle(modelName)" data-toggle="tooltip" title="Fixar modelo">
    <i class="fas fa-thumbtack text-danger"></i>
  </button>
  <button type="button" class="btn btn-sm" @click="openFile(modelName)" data-toggle="tooltip" title="Abrir modelo no word">
    <i class="fas fa-external-link-alt"></i>
  </button>
</div>

<div id="docxviewer">
  <div class="ph-item p-0 border-0 m-0">
    <div class="ph-col-12">
        <div class="ph-row">
            <div class="ph-col-6 big"></div>
            <div class="ph-col-4 empty big"></div>
            <div class="ph-col-2 big"></div>
            <div class="ph-col-4"></div>
            <div class="ph-col-8 empty"></div>
            <div class="ph-col-6"></div>
            <div class="ph-col-6 empty"></div>
            <div class="ph-col-12"></div>
            <div class="ph-col-12"></div>
            <div class="ph-col-12"></div>
            <div class="ph-col-8"></div>
            <div class="ph-col-12"></div>
            <div class="ph-col-12"></div>
            <div class="ph-col-8"></div>
            <div class="ph-col-7"></div>
        </div>
    </div>
  </div>
</div>
