<div class="kanban" v-show="selected"> 
  <div class="list-full" v-for="(list, index) in inputModel.lists" :key="list.name">

    <div class="list-container">
      <div class="list-header d-flex justify-content-between">
        {{list.name}}
        <div class="dropdown d-inline">
          <button class="btn btn-sm" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-ellipsis-v"></i>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#" data-toggle="modal" :data-target="'#modalRename' + list.id"><small>Editar nome</small></a>
            <a class="dropdown-item text-danger" href="#" @click="removeList(list.id)"><small>Deletar</small></a>
          </div>
        </div>
      </div>
      <div class="modal fade" :id="'modalRename' + list.id" tabindex="-1" aria-labelledby="modalRenameLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-sm">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Renomear Lista</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <input class="form-control" type="text" v-model="list.changedListName" />
            </div>
            <div class="modal-footer">
              <button type="button" class="btn mt-1 mb-2 btn-sm btn-secondary" @click="list.name = list.changedListName" data-dismiss="modal">Renomear <i class="fas fa-save"></i></button>
            </div>
          </div>
        </div>
      </div>
      <draggable class="draggable-area" v-bind="dragOptions" :list="list.inputs" group="people">
        <div
          class="input-content"
          v-for="(input, index) in list.inputs"
          :key="input.name"
        >

          <div class="options-input">
            <i class="fas fa-info-circle" data-toggle="tooltip" :title="'{' + slugify(input.name) + '}'"></i>
            <div class="dropdown d-inline">
              <div class="d-inline" title="Editar campo" style="cursor: pointer;" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-pencil-alt"></i>
              </div>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <div class="px-2 text-center">
                  <div class="form-group mb-2">
                    <input class="form-control" type="text" v-model="input.changedName" placeholder="Renomeie o campo" />
                  </div>
                    <input type="radio" id="text" v-model="input.type" value="text">
                    <small>Texto simples</small>
                    <input type="radio" id="textarea" v-model="input.type" value="textarea">
                    <small>Área de texto</small>
                   <div class="dropdown-divider"></div>
                  <button type="button" class="btn mt-1 mb-2 ml-auto btn-sm btn-secondary" @click="input.changedName ? input.name = input.changedName : input.name = 'Novo Campo'">Salvar <i class="fas fa-save"></i></button>
                </div>
              </div>
            </div>
            <i class="far fa-trash-alt"  @click="removeInput(list.id, index)" style="cursor: pointer;"></i>
          </div>
          
          <label v-if="input.type == 'textarea'">
            {{input.name}}
            <textarea class="form-control" :name="input.name" rows="5"></textarea>
          </label>

          <label v-else>
            {{input.name}}
            <input class="form-control" :name="input.name" />
          </label>
          
        </div>
      </draggable>
    </div>
    <div class="footer-button d-flex mb-0" style=" cursor: pointer" @click="addInput(list.id)" role="alert">
      <div class="plus-button">
        <img src="assets/img/icons/+.png">
      </div> 
      <div class="col text-content">
        Adicionar campo <br />
        <small>Adicione um campo a lista</small>
      </div>
    </div>
  </div>
  <a class="add-list-button d-flex" @click="addList()" style="cursor: pointer;">
    <div class="plus-button">
      <img src="assets/img/icons/+.png">
    </div> 
    <div class="col text-content">
      Adicionar lista <br />
      <small>Adicione uma lista de campos</small>
    </div>
  </a>
</div>
