<nav class="navbar navbar-expand-md navbar-v2 fixed-left p-0 text-center d-flex">


    <ul class="navbar-nav m-auto">

      <li class="nav-item dropdown" style="z-index: 9999999!important;" data-toggle="tooltip" title="Criar um modelo do zero.">
        <a class="nav-link" href="#" data-toggle="modal" data-target="#novoModelo">
          <img src="./assets/img/icons/paper-plus.png">
          Novo modelo
        </a>
      </li>

      <li class="nav-item" data-toggle="tooltip" title="Abrir pasta com todos seus modelos.">
        <a class="nav-link" id="openModels" href="#">
          <img src="./assets/img/icons/folder-1.png">
          Modelos
        </a>
      </li>
      <li class="nav-item" data-toggle="tooltip" title="Abrir pasta com todos documentos gerados.">
        <a class="nav-link" id="openDocuments" href="#">
          <img src="./assets/img/icons/folder-2.png">
          Gerados
        </a>
      </li>
      <li class="nav-item" data-toggle="tooltip" title="Altere suas definições.">
        <a class="nav-link" data-toggle="modal"data-target="#configModal" href="#">
          <img src="./assets/img/icons/setting.png">
          Definições
        </a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" href="index.ejs">
          <i class="fas fa-sync fa-2x" data-toggle="tooltip" title="Atualizar"></i>
          Atualizar
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="modal" data-target="#helpModal" href="#">
          <i class="far fa-question-circle fa-2x" data-toggle="tooltip" title="Abrir pasta de modelos"></i>
          <br/>Ajuda
        </a>
      </li> -->
    </ul>
</nav>