<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="./assets/css/main.css">
  <link rel="stylesheet" href="./node_modules/sweetalert2/dist/sweetalert2.min.css">
  <link rel="stylesheet" href="./node_modules/@fortawesome/fontawesome-free/css/all.min.css">
  <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous"> -->
  <title>Gerador de petições - software Jurídico</title>
</head>
<body>
 
  <div class="main d-flex">
    
    <%- include('parts/navbar-fixed-left') %>
    
    <div id="app">
      
      <nav class="navbar fixed-top nav-controller">
        
        <div>
          <button type="button" v-show="!selected" @click="selected = !selected" class="btn btn-md btn-primary ml-auto" id="nextStep" :disabled="modelName == ''">Preencher <i class="fas fa-chevron-right ml-1"></i></i></button>
          <button type="button" v-show="selected" @click="selected = !selected" class="btn btn-primary btn-sm" id="nextStep"><i class="fas fa-chevron-left mr-1"></i> Escolher outro modelo</button>
        </div>
        <small v-show="modelName" class="text-center">
          {{ modelName }}
          <br />
          <span class="badge badge-secondary" v-if="modelStateFields">Campos fora do padrão</span>
          <span class="badge badge-primary" v-else="modelStateFields">Campos padronizados</span>
        </small>
        <div v-show="!selected">
          <!-- espaço só para centralizar o modelname -->
        </div>
        <div>
          <div class="btn-group" v-show="selected">
            <button class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="far fa-save mr-1"></i> Salvar padrão
            </button>
            <div class="dropdown-menu dropdown-menu-lg-right">
              <a class="dropdown-item" href="#" @click="saveDefaultInputsModel">Para todos documentos</a>
              <a class="dropdown-item" href="#" @click="saveCustomInputsModel">Apenas para este documento</a>
            </div>
          </div>
          <!-- <button type="button" v-show="selected" @click="saveDefaultInputsModel" class="btn btn-outline-primary btn-sm ml-auto mr-1">SALVAR PADRÃO </button> -->
          <!-- <button type="button" v-show="selected" @click="saveCustomInputsModel" class="btn btn-outline-primary btn-sm ml-auto mr-1">SALVAR CUSTOM </button> -->
          <button type="submit" form="generate-model" v-show="selected" class="btn btn-secondary btn-sm">Gerar documento <i class="fas fa-download ml-1"></i></button>
        </div>
      </nav>
      
      <div class="container-fluid h-100 content">
        <form class="h-100 py-3" id="generate-model">
          <div class="documents" v-show="!selected">
            <center>
              <div class="input-group input-group w-50">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-lg"><i class="fas fa-search"></i></span>
                </div>
                <input type="text" class="form-control" v-model="search" placeholder="Busque um modelo pelo nome" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
              </div>
            </center>
            <div class="row">
              <div class="col-xl-2 col-lg-3 col-sm-4" v-for="model in filteredModels">
                <div class="form__answer rounded-lg">
                  <div style="z-index:1;position: absolute; top: 25px; left: 16px; padding: 5px 10px; cursor:pointer;">
                    <i v-show="model.fixed" class="fas fa-thumbtack text-danger"></i>
                  </div>
                  <!-- DROPDOWN PARA MARCADORES -->
                  <div class="dropdown px-2 border-bottom border-left" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="z-index:1;position: absolute; top: 25px; right: 16px; width:40px; height: 40px; cursor:pointer;">
                    <a href="#" class="d-flex h-100 text-muted text-decoration-none">
                      <i class="fas fa-chevron-down m-auto"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" @click="openFile(model.model_name)">Abrir</a>
                      <a v-if="model.fixed" class="dropdown-item" @click="fixModelToggle(model.model_name)">Desfixar modelo</a>
                      <a v-else class="dropdown-item" @click="fixModelToggle(model.model_name)">Fixar modelo</a>
                    </div>
                  </div>

                  <input type="radio" name="documents" v-model="modelName" :id="model.model_name" :value="model.model_name"> 
                  <label :for="model.model_name" class="d-flex flex-column">
                    <img src="assets/img/doc.svg" height="45px" />
                    <div class="m-auto p-1">
                      {{model.model_name}}
                    </div>
                  </label> 
                </div>
              </div>
            </div>
          </div>
          
          <%- include('parts/kanban-inputs') %>
          
        </form>
      </div>
      
      <%- include('parts/definicoes') %>
      <%- include('parts/ajuda') %>
    </div>

    
  </div>
  
  <script src="./node_modules/vue/dist/vue.min.js"></script>
  <script src="./node_modules/sweetalert2/dist/sweetalert2.all.min.js"></script>
  <script src="./assets/js/vue.js"></script>
  <script src="./assets/js/main.js"></script>
  <script src="./node_modules/sortablejs/Sortable.min.js"></script>
  <script src="./node_modules/vuedraggable/dist/vuedraggable.umd.min.js"></script>
  
</body>
</html>