
$theme-colors: ("primary": #00C46A,
"secondary": #6761a8,
"pink": #df6688,
"blue": #71cdf6,
"danger": #ff4f58,
// "success": #c3e88d,
);

$enable-gradients: false;
$enable-rounded: true;

$spacer: 1rem;

// $gray-600: #697098;
$gray-700: #464b66;
$gray-800: #2C3539;
$gray-900: #161922;

$background-color: #00171F;
$footer-color: #003459;
$details-color: #00A7E1;
// $font-color: rgb(117, 117, 117);
$submit-color: #00CC73;
$submit-color-darker: #00824A;

$navbar-size: 4rem;

$gray-primary: #F3F3F3;
$gray-secondary: #d5d7d7;

// v2
$border-color: #F0F0F0;
$navbar-left-color: #4A4A4A;
$navbar-left-border-color: #F8F8F8;
$bg-color-1:#F6F6F6;
$font-color: #656565;
$font-color-2: #B4B4B4;
$nav-right-header-height: 86px;
$nav-right-footer-height: 86px;

$navbar-left-width: 119px;
$navbar-top-height: 30px;
$navcontroller-height: 127px;
$progress-top-height: 22px;